<header class="flex items-center w-full p-4 space-x-4 bg-white shadow lg:px-12 lg:py-6">
  <div class="items-center space-y-2 lg:space-x-4 lg:flex-grow lg:flex lg:space-y-0">
    <h1 class="flex-grow font-semibold leading-5 lg:leading-7 lg:text-2xl">
      Contacts
    </h1>
  </div>
</header>
<div class="p-4 space-y-6 lg:p-12 lg:pb-4">
  <a href="/shipments/new" class="relative block w-full p-12 text-center border-2 border-dashed rounded-lg border-ivf-blue-200 hover:border-ivf-blue-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-ivf-orange">
    <%= heroicon "users", options: { class: "w-8 h-8 mx-auto lg:w-12 lg:h-12" } %>
    <span class="block mt-2 text-sm font-medium">
      Get started with a new shipment
    </span>
  </a>
</div>