<header class="flex items-center p-4 space-x-4 bg-white shadow lg:px-12 lg:py-6">
  <div class="items-center space-y-2 lg:space-x-4 lg:flex-grow lg:flex lg:space-y-0">
    <h1 class="flex-grow font-semibold leading-5 lg:leading-7 lg:text-2xl">
      Edit Profile
    </h1>
  </div>
</header>
<div class="p-4 space-y-6 lg:p-12 lg:pb-4">
  <p>Blah Blah</p>
</div>

