<header class="flex items-center p-4 space-x-4 bg-white shadow lg:px-12 lg:py-6">
  <div class="items-center space-y-2 lg:space-x-4 lg:flex-grow lg:flex lg:space-y-0">
    <h1 class="flex-grow font-semibold leading-5 lg:leading-7 lg:text-2xl">
      My Shipments
    </h1>
  </div>
</header>
<div class="p-4 space-y-6 lg:p-12 lg:pb-4">
  <a href="/shipments/new" class="relative block w-full p-12 text-center border-2 border-dashed rounded-lg border-ivf-blue-200 hover:border-ivf-blue-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-ivf-orange">
    <svg aria-label="Shipping" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-8 h-8 mx-auto lg:w-12 lg:h-12"><circle cx="12" cy="5" r="3"></circle> <line x1="12" y1="22" x2="12" y2="8"></line> <path d="M5 12H2a10 10 0 0 0 20 0h-3"></path></svg> 
    <span class="block mt-2 text-sm font-medium">
      Get started with a new shipment
    </span>
  </a>
</div>


